In [3]:
import pandas as pd

file_path_2 = './iris.csv'
iris = pd.read_csv(file_path_2)

In [4]:
# 27

iris.loc[(iris['sepal_length'] > 5) & (iris['petal_length'] < 1.5)]

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
14           5.8          4.0           1.2          0.2  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
28           5.2          3.4           1.4          0.2  setosa
33           5.5          4.2           1.4          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa

In [5]:
# 28

filter_28 = iris.loc[(iris['sepal_length'] > 5) & (iris['petal_length'] < 1.5)] 

filter_28['petal_width']

0     0.2
14    0.2
16    0.4
17    0.3
28    0.2
33    0.2
36    0.2
Name: petal_width, dtype: float64

In [6]:
# 29

iris.groupby('species').sum()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             250.3        170.9          73.2         12.2
versicolor         296.8        138.5         213.0         66.3
virginica          329.4        148.7         277.6        101.3

In [7]:
# 30

iris.groupby('species').max() - iris.groupby('species').min()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               1.5          2.1           0.9          0.5
versicolor           2.1          1.4           2.1          0.8
virginica            3.0          1.6           2.4          1.1